/* Basic Styles */
body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    transition: all 0.3s ease;
}

.navbar-brand, .nav-link {
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #0066ff !important;
}

.hero-section {
    height: 100vh;
    background: url('https://github.com/soulfire-singularity/nameron-solutions/assets/81447958/3cae401b-4333-414e-9be1-96de98c51bef') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.parallax {
    background-attachment: fixed;
}

.service-box {
    margin: 20px 0;
    padding: 20px;
    border: 3px solid #0066ff;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease box-shadow 0.3s ease;
}

.service-box:hover {
    transform: translateY(-10px);
    background-color: #f7f7f7;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon-lg {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #ff9800;
}

footer {
    background-color: #222;
}

footer p {
    margin: 0;
}
